* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include transition(background-color, 0.15s, ease-in);
}

body,
input,
button,
a,
pre {
  font-family: "CircularStd", "Inter", "sans-serif";
  font-weight: 400;
  text-decoration: none;
}

body {
  background-color: #000000;
  color: var(--fg);
  position: relative;
  max-width: 100vw;
  background-image: url("../assets/images/bg.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(16px);
  @include transition(background-image, 1s);
}

body::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    at center center,
    rgba(34, 34, 34, 0.548) 0%,
    rgba(70, 0, 70, 0.377) 100%
  );
}

ul,
nav {
  list-style: none;
}

li,
a,
button {
  outline: 2px solid transparent;

  &:focus {
    outline: 2px solid $white;
    @include transition(outline, 0.15s, ease-in);
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}

a {
  color: var(--fg);
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
}

// Scrollbar
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;

  &:hover {
    background-color: rgba($lightPurple, 0.6);
  }
}
