// Transitions
$hover: 0.15s ease-in;
$focus: 0.15s ease-in;

// Colors
$purple: #5555df;
$lightPurple: #7075e3;
$hoverPurple: #4a4af0;
$white: #fafafa;
$white-90: rgb(222, 222, 222);
$black: #000000;
$black-90: rgba(0, 0, 0, 0.831);
$gray: #c0c0c033;

// Sizes
$headerHeight: 50px;
$sidebarWidth: 220px;
$footerHeight: 120px;

// Placeholders
%activeMenuItem {
  background: rgb(126 148 219 / 15%);
  color: $white;
}
