@font-face {
  font-family: "CircularStd";
  src: url(../assets/fonts/CircularStd-Book.woff2);
  font-weight: 400;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "CircularStd";
  src: url(../assets/fonts/CircularStd-Medium.woff2);
  font-weight: 500;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "CircularStd";
  src: url(../assets/fonts/CircularStd-Bold.woff2);
  font-weight: 700;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "CircularStd";
  src: url(../assets/fonts/CircularStd-Black.woff2);
  font-weight: 900;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
}
