.player {
  position: sticky;
  bottom: 0;
  grid-row-start: 3;
  grid-column: span 3;
  display: flex;
  align-items: center;
  width: 100%;
  min-height: $footerHeight;
  padding: 0 20px 0 7px;
  border-top: 1px solid $gray;
  background: #101112db;
}

.song {
  cursor: default;
  display: flex;
  flex: 1;
  padding: 10px;
  gap: 1rem;
}

.song__cover {
  max-width: 64px;
  height: auto;
  border-radius: 4px;

  & img {
    object-fit: cover;
  }
}

.song__artist {
  color: #ccc;
  font-weight: normal;
  font-size: 0.8em;
}

.song__title {
  font-weight: 600;
  font-size: 0.9rem;
}

.player__controls {
  display: flex;
  flex: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.player__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}

.player__btn {
  @include playBtn($height: 45px);
}

.player__previous,
.player__next {
  @include prevNextBtn(30px);
}

.player__shuffle,
.player__repeat {
  @include prevNextBtn(24px);
}

.player__btn--active {
  position: relative;
  opacity: 1;

  svg {
    fill: #8686ff;
  }

  &::after {
    position: absolute;
    content: "o";
    color: #8686ff;
    font-weight: 900;
    bottom: 0;
    transform: translateY(15px);
  }
}

.seekbar {
  display: flex;
  align-items: center;
}

.bar {
  display: flex;
  flex: none;
  margin: 0 10px;
  padding: 10px 0;
  width: 420px;
  max-height: 6px;
  align-items: center;

  &:hover {
    .bar__progress {
      height: 8px;
    }

    .bar__thumb {
      display: block;
    }
  }
}

.bar__time {
  color: #b9b9b9;
  font-size: 12px;
  min-width: 60px;
  text-align: left;

  &:first-child {
    direction: rtl;
    text-align: right;
  }
}

.bar__progress {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4px;
  margin: 2px 0 0;
  padding: 2px 0;
  border-radius: 5px;
  @include transition(background, 0.1s, ease-out);
}

.bar__thumb {
  display: none;
  cursor: pointer;
  background: none;
  border: 0;
  position: relative;
  transform: translate3d(-6px, 2px, 0);

  &:focus {
    outline: none;
    transition: none;
  }
}

.volume {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
}

.volume__btn {
  @include prevNextBtn(24px);
}
